@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Raleway:wght@100&display=swap');

html, body {
    min-height: 100%;
}
body {
    background-image: linear-gradient(#b1daeb,white);
    animation: fadeInAnimation ease-in-out 3s;

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.top-spacer{
    padding-bottom: 4.5%;
}

header{
    text-align:left; 
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px; 
    color:darkslategray;
    margin: 5px; 
}
h1,h2,h4 {margin: 0;}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 75px;
    opacity: 0.75; 
}
/*subheader*/
h2 {
    text-align: center; 
    font-family: 'Darker Grotesque', sans-serif; 
    font-size: 35px;
}

h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 50px; 
}

p {
    margin: 50px; 
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 40px; 
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.profilepic-container {
    position:relative;
    text-align: center;
    width:100%; 
}

.profilepic {
    /*border-radius: 50%; */
    width: 250px; 
    padding: 10px;
    transition: opacity 0.2s ease-in-out;
}


.profilepic:hover {
    opacity: 0.75; 
}

.profilepic-text{ 
    opacity: 0; 
    transition: 0.2s ease-in-out;
    font-size: 0px; 
    font-family: 'Raleway', sans-serif;
    color:black;
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, 0%); 
    pointer-events:none;
}

.profilepic:hover + .profilepic-text {
    font-size: 80px; 
    opacity: 0.5;
}
.hidden-subheading {
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    font-size: 25px; 
    opacity: 0; 
    transition: opacity 0.5s;
}

.profilepic:hover ~ .hidden-subheading {
    opacity: 0.75;
}

.bottom {
    display: flex;
    flex-flow: column;
    height: 100%;
}

hr.solid {
    border-top: 1px solid rgb(204, 204, 204);  
    width: 50%;
    padding-bottom:0px;
    margin-top: 0px;
    margin-bottom: 0px; 
    margin-left: auto;
    margin-right: auto; 
    color:rgb(204, 204, 204);

  }
.spacer{
    margin:100px;
}

footer{
    position:fixed; 
    display: inline;
    left:0;
    bottom:0; 
    width:99%; 
    margin: 5px;  
    text-align:right; 
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px; 
    color:darkslategray
}


a:link, a:visited{
    color:darkslategray;
    text-decoration: none; 
}

a:hover{
    color:slategray; 
    text-decoration: underline;
}

a:active{
    color:gray; 
    text-decoration:underline; 
}

